*{
    margin: 0;
    padding: 0;
}


body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#accueil{
    background-image: url(images/Background_Between_Worlds.png);
    background-repeat: no-repeat;
    background-size: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    cursor: default;
}

#accueil img{
    width: 35%;
    transform: rotate(2deg);
}

#texteIntro {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 65%;
}

#voca{
             -webkit-text-stroke: 3px rgb(0, 0, 0);
    color: rgb(255, 100, 155);
    font-size: 10rem;
}

#auteur{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: end;
    padding: 20px;
}

nav{
    display: flex;
    width: 100%;
    background-color: rgb(255, 179, 236);
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav a{
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    padding: 15px;
    border-radius: 30px;
    border: #ff0095 solid 3px;
}

nav a:hover{
    transform: scale(1.1);
}

nav a{
    transition: transform 0.3s ease-out;
}

nav a:link {
    color: #000000;
  }

 nav a:visited {
    color: #00ccff;
  }
  
 nav a:hover {
    color: #E74A93;
  }

nav img{
    width: 200px;
}

#articles{
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 20px;
}

#colonne1{
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
}

#colonne2{
    display: flex;
    width: 50%;
    flex-flow: column nowrap;
}

table img{
    width: 200px;
}

table{
    width: 60%;
    margin: 20px auto;
    text-align: center;
    border-collapse: collapse;
}

tr:first-of-type{
    background-color: black;
    color: white;
    font-weight: bold;
}

th{
    padding: 15px;
}

table, tr, td {
    border-bottom: black 1px solid;
    border-collapse: collapse;
}

tr:nth-child(even){
    background-color: rgb(233, 244, 244);
}

#tableau h3{
    font-size: 32px;
    margin: 10px;
    font-weight: bold;
    text-align: center;
}

.album{
    display: none;
    width: 150px;
}

td:hover .album{
    display: block;
    margin: auto;
}

.titreChanson{
    font-style: italic;
}


#galerie {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgb(233, 244, 244);
    padding: 10px 30px 30px 30px;
}

#images{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#galerie img {
    height: 200px;
}

h2{
    font-size: 32px;
    text-align: center;
    margin: 20px;
}


.thumbnail:hover { 
    transform: scale(1.5); 
    }

.thumbnail { 
    cursor: pointer; 
    transition-property: all;
    transition-timing-function: ease;
    transition-duration: 1s;
    } 


#video {
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    color: gray;
}

#texteVideo {
    width: 45%;
    margin: 10px;
    text-indent: 20px;
    font-size: 16px;
    line-height: 24px;
}

fieldset{
    width: 30%;
    margin: auto;
    padding: 20px;
    background-color: white;
}


input{
    cursor: pointer;
}

#hachune{
    width: 180px;
    margin-top: auto;
    margin-right: 3px;
}

#surprise {
    font-size: 16px;
    margin-right: 130px;
    text-align: right;
    display: none;
}

#migu{
    height: 210px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    position: sticky;
    bottom: -5px;
    margin-left: 86%;
    z-index: 2;
}

#migu:hover #surprise{
    display: block;
}

#articles p{
    margin: 10px;
    line-height: 24px;
}

#colonne2 img{
    width: 100%;
}

footer{
    display: flex;
    flex-flow: row nowrap;
    background-color: #00ccff;
    width: 100%;
    color: white;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: -5px;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a{
    color: white;
    text-decoration: none;
    margin: 2px 0;
}

footer h4{
    color: #19447c;
    margin: 0 0 5px 0;
}

footer p{
    margin: 5px 0;
}

#liens{
    display: flex;
    flex-flow: column nowrap;
}

#socials{
    display: flex;
    flex-flow: column nowrap;
}

#icons{
    display: flex;
    flex-flow: nowrap row;
    margin-top: 20%;
    align-items: center;
    justify-content: space-between;
}

ion-icon{
    font-size: 40px;
}

#articles h3{
    margin: 5px;
    font-size: 20px;
}

figcaption{
    color: gray;
    font-size: 16px;
    text-align: center;
    margin: 20px;
}

#articles img{
    margin-top: 20px;
}

#inscription{
    width: 100%;
    background-color: rgb(233, 244, 244);
    padding: 10px 0 50px 0;
    margin-bottom: -180px;
}

#teto{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: center;
}

#teto figcaption{
    transform: rotate(-90deg);
    position: relative;
    top: 120px;
    left: -48px;
}

#teto img{
    height: 200px;
    position: relative;
    top: -40px;
}

#teto p{
    width: 85%;
}

#neru{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#neru figcaption{
    transform: rotate(-90deg);
    position: relative;
    top: 130px;
    left: -45px;
}

#neru img{
    height: 200px;
    position: relative;
    top: -40px;
}